{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "tsconfig.json",
    "tsconfigRootDir": "./"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:react/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "prettier",
    "airbnb"
  ],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "plugins": ["@typescript-eslint", "react", "import", "prettier"],
  "rules": {
    "import/no-unresolved": "error",
    "no-undef": "warn",
    "no-console": "off",
    "operator-linebreak": ["warn", "after"],
    "no-use-before-define": ["warn", "nofunc"],
    "no-param-reassign": "warn",
    "no-confusing-arrow": ["warn", { "allowParens": true }],
    "semi": "off",
    "comma-dangle": "off",
    "object-curly-newline": ["off"],
    "object-curly-spacing": ["warn", "always"],
    "implicit-arrow-linebreak": "warn",
    "function-paren-newline": "warn",
    "arrow-body-style": "off",
    "arrow-parens": ["warn", "as-needed"],
    "no-underscore-dangle": "off",
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "import/prefer-default-export": "warn",
    "react/jsx-filename-extension": ["warn", { "extensions": [".js", ".jsx"] }],
    "react/destructuring-assignment": "warn",
    "react/prop-types": "warn",
    "react/require-default-props": "warn",
    "react/forbid-prop-types": "warn",
    "react/prefer-stateless-function": "warn",
    "prettier/prettier": ["warn"],
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/label-has-associated-control": [
      "warn",
      {
        "assert": "both"
      }
    ]
  }
}
